@font-face {
	font-family: 'ArialMT';
	font-weight: 500;
	font-style: normal;
	src: url('../fonts/ArialMT.woff2') format('woff2');
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	font-weight: 100;
	font-style: normal;
	src: url('../fonts/HelveticaNeueLTStd-ThCn.woff2') format('woff2');
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	font-weight: 100;
	font-style: normal;
	src: url('../fonts/HelveticaNeueLTStd-Th.woff2') format('woff2');
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	font-weight: 200;
	font-style: normal;
	src: url('../fonts/HelveticaNeueLTStd-UltLtCn.woff2') format('woff2');
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/HelveticaNeueLTStd-LtCn.woff2') format('woff2');
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/HelveticaNeueLTStd-Lt.woff2') format('woff2');
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	font-weight: 500;
	font-style: normal;
	src: url('../fonts/HelveticaNeueLTStd-MdCn.woff2') format('woff2');
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	font-weight: 900;
	font-style: normal;
	src: url('../fonts/HelveticaNeueLTStd-XBlkCn.woff2') format('woff2');
}
