:root {
	--font-family-arial: 'Arial', sans-serif;
	--font-family-arial-mt: 'ArialMT', sans-serif;
	--font-family-helvetica: 'Helvetica', sans-serif;
	--font-family-helvetica-neue: 'Helvetica Neue LT Std', sans-serif;
	--font-family-a-empirial: 'AEmpirial', sans-serif;

	--color-white: #fff;
	--color-black: #000;
	--color-mine-shaft: #373737;
	--color-mine-shaft-2: #3d3d3d;
	--color-tundora: #444;
	--color-dove-gray: #666;
	--color-dove-gray-2: #6b6b6b;
	--color-alto: #d6d6d6;
	--color-dusty-gray: #949393;
	--color-spring-wood: #f6f3ec;
	--color-red-damask: #dd6b44;
	--color-hit-pink: #ffa687;
	--color-salmon: #fd926d;
	--color-hurricane: #867a76;
	--color-gallery: #ededed;
	--color-emperor: #555;
	--color-concrete: #f2f2f2;
	--color-alabaster: #f7f7f7;
	--color-fuscous-gray: #544f4d;
	--color-gray: #8d8d8d;
	--color-americano: #7a706d;
	--color-wild-sand: #f4f4f4;
	--color-mercury: #e5e5e5;
}
