.block-title {
	padding: 9px 10px 10px;
	width: 100%;
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: -0.3px;
	color: var(--color-white);
	background-color: var(--color-black);
}
