.card {
	position: relative;
	flex: 0 0 auto;
	display: block;
	margin: 15px;
	padding-bottom: 7px;
	width: 220px;
	text-align: center;
	text-decoration: none;
	background-color: var(--color-white);
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.05, 1.05);

		.card__image {
			&::before,
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__image {
		position: relative;
		margin: 0 auto;
		display: block;
		width: 100%;
		height: 290px;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top center;
		}

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			opacity: 0;
			visibility: hidden;
			border-radius: 50%;
			width: 134px;
			height: 134px;
			background-color: var(--color-mine-shaft-2);
			transform: translate(-50%, -50%);
			transition: opacity 0.3s ease, visibility 0.3s ease;
		}

		&::after {
			content: 'Shop it';
			position: absolute;
			top: 50%;
			left: 50%;
			opacity: 0;
			visibility: hidden;
			padding-top: 35px;
			width: 48px;
			height: 47px;
			font-size: 12px;
			line-height: 1;
			text-transform: uppercase;
			color: var(--color-white);
			background: url("images/shop-it.png") 50% 0 no-repeat;
			background-size: 30px 29px;
			transform: translate(-50%, -50%);
			transition: opacity 0.3s ease, visibility 0.3s ease;
		}
	}

	&__title {
		margin: 11px 0 8px;
		font-size: 12px;
		line-height: 1;
		letter-spacing: -0.12px;
		text-transform: uppercase;
		color: var(--color-mine-shaft);
	}

	&__price {
		font-size: 22px;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: -0.22px;
		color: var(--color-mine-shaft);
	}

	&__sale {
		position: absolute;
		top: 0;
		left: 0;
		padding: 5px;
		width: 50px;
		height: 50px;
		font-family: var(--font-family-helvetica);
		font-size: 10px;
		line-height: 1;
		letter-spacing: -0.1px;
		text-align: left;
		text-transform: uppercase;
		color: var(--color-white);
		background: url("images/sale-label.png") 50% 50% no-repeat;
		background-size: cover;
	}

	.button {
		margin: 8px auto;
	}

	@media (max-width: 767px) {
		width: 180px;

		&__image {
			height: 240px;
		}
	}
}
